<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joezhou.mapper.LeaderMapper">

    <select id="findById" resultType="leader">
        SELECT `id`, `name`, `gender`, `age`, `info`
        FROM `leader`
        WHERE `id` = #{id}
    </select>

</mapper>