<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joezhou.mapper.UserMapper">

    <select id="findByIf" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user` WHERE
        <if test='name != null'>
            `name` like concat('%', #{name}, '%')
        </if>
        <if test='gender != null'>
            `gender` = #{gender}
        </if>
    </select>

    <select id="findByWhere" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <if test='name != null'>
                AND `name` like concat('%', #{name}, '%')
            </if>
            <if test='gender != null'>
                AND `gender` = #{gender}
            </if>
        </where>
    </select>

    <select id="findByTrim" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test='name != null'>
                AND `name` like concat('%', #{name}, '%')
            </if>
            <if test='gender != null'>
                AND `gender` = #{gender}
            </if>
        </trim>
    </select>

    <select id="findByChoose" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <choose>
                <when test='name != null'>
                    AND `name` like concat('%', #{name}, '%')
                </when>
                <when test='gender != null'>
                    AND `gender` = #{gender}
                </when>
                <otherwise>
                    AND `id` = #{id}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findWithArray" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <foreach collection="array" item="e" open="id in (" close=")" separator=",">
                ${e}
            </foreach>
        </where>
    </select>

    <select id="findWithList" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <foreach collection="list" item="e" open="id in (" close=")" separator=",">
                ${e}
            </foreach>
        </where>
    </select>

    <select id="findWithMap" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <foreach collection="ids" item="e" open="id in (" close=")" separator=",">
                ${e}
            </foreach>
        </where>
    </select>

    <update id="updateBySet">
        UPDATE `user`
        <set>
            <if test='name != null'>`name` = #{name},</if>
            <if test='age != null'>`age` = #{age},</if>
            <if test='gender != null'>`gender` = #{gender},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateByTrim">
        UPDATE `user`
        <trim prefix="SET" suffixOverrides=",">
            <if test='name != null'>`name` = #{name},</if>
            <if test='age != null'>`age` = #{age},</if>
            <if test='gender != null'>`gender` = #{gender},</if>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findByNameAndGender" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <if test='param1 != null'>
                AND `name` like concat('%', #{param1}, '%')
            </if>
            <if test='param2 != null'>
                AND `gender` = #{param2}
            </if>
        </where>
    </select>

    <select id="findBySingleParam" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <if test='_parameter != null'>
                AND `name` like concat('%', #{param1}, '%')
            </if>
        </where>
    </select>

    <select id="findByMultipleParam" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <if test='_parameter.get("param1") != null'>
                AND `name` like concat('%', #{param1}, '%')
            </if>
            <if test='_parameter.get("param2") != null'>
                AND `gender` = #{param2}
            </if>
        </where>
    </select>

    <select id="findByPojoParam" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <if test='_parameter.param1 != null'>
                <if test='_parameter.param1.name != null'>
                    AND `name` like concat('%', #{param1.name}, '%')
                </if>
                <if test='_parameter.param2.gender != null'>
                    AND `gender` = #{param2.gender}
                </if>
            </if>
        </where>
    </select>

</mapper>