<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joezhou.mapper.UserMapper">

    <select id="findLikeNameAndGender" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info`
        FROM `user`
        WHERE `name` like concat('%', #{name}, '%')
          AND `gender` = #{gender}
    </select>

    <select id="findLikeNameAndGenderByIf" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user` WHERE
        <if test='name != null'>
            `name` like concat('%', #{name}, '%')
        </if>
        <if test='gender != null'>
            `gender` = #{gender}
        </if>
    </select>

    <select id="findLikeNameAndGenderByWhere" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <if test='name != null'>
                AND `name` like concat('%', #{name}, '%')
            </if>
            <if test='gender != null'>
                AND `gender` = #{gender}
            </if>
        </where>
    </select>

    <select id="findLikeNameAndGenderByTrim" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test='name != null'>
                AND `name` like concat('%', #{name}, '%')
            </if>
            <if test='gender != null'>
                AND `gender` = #{gender}
            </if>
        </trim>
    </select>

    <select id="findLikeNameAndGenderByChoose" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <choose>
                <when test='name != null'>
                    AND `name` like concat('%', #{name}, '%')
                </when>
                <when test='gender != null'>
                    AND `gender` = #{gender}
                </when>
                <otherwise>
                    AND `id` = #{id}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findWithArrayByForEach" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <foreach collection="array" item="e" open="id in (" close=")" separator=",">
                ${e}
            </foreach>
        </where>
    </select>

    <select id="findWithListByForEach" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <foreach collection="list" item="e" open="id in (" close=")" separator=",">
                ${e}
            </foreach>
        </where>
    </select>

    <select id="findWithMapByForEach" resultType="user">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `user`
        <where>
            <foreach collection="ids" item="e" open="id in (" close=")" separator=",">
                ${e}
            </foreach>
        </where>
    </select>

    <update id="updateByIdBySet">
        UPDATE `user`
        <set>
            <if test='name != null'>`name` = #{name},</if>
            <if test='age != null'>`age` = #{age},</if>
            <if test='gender != null'>`gender` = #{gender},</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <update id="updateByIdByTrim">
        UPDATE `user`
        <trim prefix="SET" prefixOverrides=",">
            <if test='name != null'>`name` = #{name},</if>
            <if test='age != null'>`age` = #{age},</if>
            <if test='gender != null'>`gender` = #{gender},</if>
            <where>
                id = #{id}
            </where>
        </trim>
    </update>

</mapper>