<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>auth.html</h1>
<ul>
    <li><a href="/api/auth/admin">the role list of [ROLE_ADMIN]</a></li>
    <li><a href="/api/auth/comm">the role list of [ROLE_COMM]</a></li>
    <li><a href="/api/auth/all">the role list of [ROLE_ADMIN] or [ROLE_COMM]</a></li>
    <li><a href="/api/auth/select">the permission list of [select]</a></li>
    <li><a href="/api/auth/dml">the permission list of [insert/update/delete]</a></li>
</ul>
</body>
</html>