<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:property-placeholder location="classpath:jdbc/db.properties"/>

    <bean id="pig-data-source" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="pig-session-factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--若存在mybatis主配文件，可使用configLocation进行注入"/>-->
        <!--<property name="configLocation" value="classpath:mybatis/mybatis.xml"/>-->
        <property name="typeAliasesPackage" value="com.joezhou.pojo"/>
        <property name="dataSource" ref="pig-data-source"/>
        <property name="mapperLocations">
            <array>
                <value>com/joezhou/mapper/PigMapper.xml</value>
            </array>
        </property>
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <value>
                            helperDialect=mysql
                            pageSizeZero=true
                            reasonable=true
                        </value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <!--整包扫描Mapper接口-->
    <!--
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.joezhou.mapper"/>
    </bean>
    -->

    <!--单配PigMapper接口-->
    <bean id="pigMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.joezhou.mapper.PigMapper"/>
        <property name="sqlSessionFactory" ref="pig-session-factory"/>
    </bean>

</beans>