<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h1>用户B</h1>
    <button type="button" onclick="socket.close()">用户B退出通话</button>
    <button type="button" onclick="location.reload()">用户B恢复通话</button>
</section>

<script type="text/javascript">

    let socket;
    /*页面加载时连接到socket*/
    onload = () => {
        if (!WebSocket) {
            alert("浏览器不支持WebSocket！");
        } else {

            // 使用ws://协议连接WebSocket服务端，并传递session和id过去
            socket = new WebSocket("ws://localhost:8080/websocket-server/2");

            // 连接到WebSocket服务端时触发
            socket.onopen = () => {
                console.log("用户B连接到WebSocket...");
                socket.send("服务端，你好！我是用户B！");
            };

            // 获得服务端消息推送时触发
            socket.onmessage = msg => console.log("服务端推送消息：" + msg["data"]);

            // 从WebSocket服务端断开连接时触发
            socket.onclose = () => console.log("用户B从WebSocket服务端断开连接...");

            // WebSocket发生了错误...
            socket.onerror = () => console.log("WebSocket发生了错误...");
        }
    }
</script>
</body>
</html>