<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentSpace">

    <insert id="insert" parameterType="com.joezhou.pojo.Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `student` (`id`, `name`, `gender`, `age`, `info`)
        VALUES (#{id}, #{name}, #{gender}, #{age}, #{info})
    </insert>

    <insert id="insertWithSelectKey">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            SELECT last_insert_id()
        </selectKey>

        INSERT INTO `student` (`id`, `name`, `gender`, `age`, `info`)
        VALUES (#{id}, #{name}, #{gender}, #{age}, #{info})
    </insert>

    <select id="findById" resultType="com.joezhou.pojo.Student">
        SELECT `id`, `name`, `gender`, `age`, `info` FROM `student`
        WHERE `id` = #{id}
    </select>

</mapper>