<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentSpace">

    <sql id="cols">`id`, `name`, `gender`, `age`, `info`</sql>
    
    <insert id="insert" parameterType="student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `student` (<include refid="cols"/>)
        VALUES (#{id}, #{name}, #{gender}, #{age}, #{info})
    </insert>

    <insert id="insertWithSelectKey">
        <selectKey order="AFTER" keyProperty="id" resultType="int">
            SELECT last_insert_id()
        </selectKey>

        INSERT INTO `student` (<include refid="cols"/>)
        VALUES (#{id}, #{name}, #{gender}, #{age}, #{info})
    </insert>

    <select id="findById" resultType="student">
        SELECT <include refid="cols"/>
        FROM `student`
        WHERE `id` = #{id}
    </select>

    <select id="findLikeName" resultType="student">
        SELECT <include refid="cols"/>
        FROM `student`
        WHERE `name` like '%${value}%'
    </select>

    <select id="findLikeNameWithConcat" resultType="student">
        SELECT <include refid="cols"/>
        FROM `student`
        WHERE `name` like concat('%', #{name}, '%')
    </select>

    <update id="updateById">
        UPDATE `student`
        SET `name`   = #{name},
            `age`    = #{age},
            `gender` = #{gender},
            `info`   = #{info}
        WHERE `id` = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM `student` WHERE `id` = #{id}
    </delete>

</mapper>